body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #050505;
    font-family: Arial, sans-serif;
}

.stopwatch {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.display {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
}

.controls button {
    background: #050505;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
}

.controls button:active {
    background: #050505;
}
